
body {
  height: 100%;
  width: 100%;
  margin: 0;
    background-image: url(../images/background.jpeg);
    background-attachment: scroll;
    margin-bottom: -35px;
  }

.navbar navbar-expand-lg navbar-light bg-light{
  color: white;
  width: 100%;
}
#navbar{
  box-shadow:0 0 3mm 0 rgb(161, 161, 161);
  padding-bottom: 0px;
  width: 100%;
}

#navlinks{
  position: relative;
  top: 20px;
}

.navbar-brand{
  font-family: 'Georgia';
  background-color: rgb(74, 195, 252);
  padding: 20px 20px;
  font-weight: bold;
}
.innerHeaderContainer{
  width: 100%;
}
#name{
  color: white;
  font-size: 30px;
}

.nav-item nav-link{
  font-size: 20px;
  font: "Arial";
  color: grey;
}

  h1{
    font-size: 33px;
    text-align: center;
    font-family: 'Georgia';
    font-weight: bold;
    color: rgb(74, 195, 252);
}

.profileimg{
margin-top: 0.5cm;
margin-right: 1.3cm;
border-radius: 5px;
}

h3{
  font: 'Georgia';
  color: rgb(136, 132, 132);
}
ul{
  font: "Arial";
  color: rgb(136, 132, 132);
}
#p1{
  color: rgb(136, 132, 132);
  line-height: 40px;
  font: "Arial";
}
#contact-info-column{
  top: 8px;
}
#p2{
  color: rgb(136, 132, 132);
  width: 300px;
  text-align: center;
  line-height: 40px;
  font: "Arial";
}
.linksinindex:hover { 
  background-color: white;
  padding: 5px;
  color: rgb(74, 195, 252);
  
}
.linksinindex{
  text-decoration: none;
  color: grey;
  border-radius: 7px;
}

.outerIContainer{
  padding-top: 6%;
}
/* portfolio white background */
.icontainer {
  left: 10%;
  border-radius: 5px;
  background-color: white;
  padding: 35px 70px;
  box-shadow:0 0 3mm 0 rgb(161, 161, 161);
}

.outerPContainer{
  padding-top: 6%;
}
/* portfolio white background */
.pcontainer {
    border-radius: 5px;
    background-color: white;
    padding: 35px 70px;
    box-shadow:0 0 3mm 0 rgb(161, 161, 161);
  }

  .portfolioImages{
    border-radius: 7px;
    width:100%;
    z-index: -1;
  }
    #portfolioButtons{
      z-index: 0;
      position: relative;
      width: 100%;
      Bottom: 50%;
      align-content: center;
      font: Georgia;
      font-size: 18px;
    }
    #portfolioButtons:hover{
      /* background-color: rgb(238, 248, 253); */
      background-color: white;
      /* font-size: 19px; */
      font-weight: bold;
      box-shadow: 0px 0px white;
      border-color: white;
      
    }
    .centered:hover {
      text-decoration: none;
      background-color: white;
      padding: 8px;
      color: rgb(74, 210, 252);
      }

   /* contact white background */
   #outerContactBox{
    padding-top: 6%;
   }
#contactBox {
  border-radius: 5px;
  background-color: white;
  padding: 35px 70px;
  box-shadow:0 0 3mm 0 rgb(161, 161, 161);
}
.contactHeadings{
  color: rgb(161, 161, 161);
  font: "Arial";
  font-size: 20px;
}
#sumbitButton{
  margin-top: 3%;
  background-color: rgb(74, 195, 252);
  border-color: rgb(74, 195, 252);
}
#sumbitButton:hover {
  background-color: rgb(17, 178, 253);
  border-color: rgb(17, 178, 253);
}

#footercolumn{
width: 100%;
}

#sticky-footer {
  flex-shrink: none;
  font: "Arial";
  color: white;
  height: 45px;
  background-color: rgb(150, 150, 150);
  border-top: 5px solid rgb(74, 195, 252);
  margin-top: 6%;
}
/* #footer{
  font: "Arial";
  width: 120%;
  margin-left: -10%;
  position: absolute;
  bottom: -55%;
  height: 25px;
  color: white;
  background-color: rgb(150, 150, 150);
  text-align: center;
  border-top: 5px solid rgb(74, 195, 252);
} */

